<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet"/>

    <link rel="stylesheet" href="app.css"/>

    <link rel="stylesheet" href="RaffleKing.styles.css"/>
    <link rel="icon" type="image/png" href="favicon.ico"/>
    <HeadOutlet/>
</head>

<body>
<Routes @rendermode="RenderModeForPage"/>
<script src="_framework/blazor.web.js"></script>
<script src="_content/MudBlazor/MudBlazor.min.js"></script>
</body>

</html>

@code 
{
    /*
     * There is an issue currently pending a solution by Microsoft where the Identity pages do not work with
     * the InteractiveServer render mode. This workaround was taken from Stack Overflow at the below link:
     * https://stackoverflow.com/questions/77599233/blazor-net-8-and-global-interactivity-issue-with-identity
     */
    
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;
    
    private IComponentRenderMode? RenderModeForPage => 
        HttpContext.Request.Path.StartsWithSegments("/Account") ? null : InteractiveServer;
}
